/* Стили для страницы регистрации */
.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.register-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

#registerButton {
    background-color: #bcbcbc;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    width: 300px;
}

#registerButton:hover {
    background-color: #8f8f8f;
}

.back-btn {
    background-color: #bcbcbc;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    width: 300px;
}

.back-btn:hover {
    background-color: #8f8f8f;
}
